# *.*
# *
# gitignore的用法：https://blog.csdn.net/qq_40093255/article/details/117349129
fceux-am
verilator_test_proj/**/obj_dir/
# !*/
# !/nemu/*
# !/nexus-am/*
# !/nanos-lite/*
# !/navy-apps/*
# !/npc/*
# !Makefile
# !README.md
# !.gitignore
# !init.sh


/nvboard
